#KBCT Config File
#Tue Jan 15 12:00:16 CET 2019
KBCTintFilePath213=.\\KBint213.kb.xml
KBCTintFilePath212=.\\KBint212.kb.xml
KBCTintFilePath211=.\\KBint211.kb.xml
MinEDGain=0.001
RuleInduction=true
MaximumNumberNewUnclassifiedCases=0
Problem=
Split=true
SMOTE=true
UserChange=No
VariableRemoval=true
NbGenerations=100
ToleranceThreshold=0.1
PartitionSelection=true
OrderRulesByIntWeight=false
LeafMinCard=1
PremiseRemoval=true
KBCTintFilePath4=.\\KBint4.kb.xml
BoundedOptimization=false
KBCTintFilePath3=.\\KBint3.kb.xml
KBCTintFilePath2=.\\KBint2.kb.xml
KBCTintFilePath1=.\\KBint1.kb.xml
LookAndFeel=com.sun.java.swing.plaf.windows.WindowsLookAndFeel
PopulationLength=60
KBCTFilePath=C\:\\GUAJE-vb3.0\\quickstart\\DATA
Display=false
TournamentSize=2
RuleRanking=true
OrderRulesByWeight=false
Tutorial=false
PathFinderThreshold=0.0
Country=ES
DataSelection=true
LVreduction=true
OptAlgorithm=1
Language=es
OrderRulesByOutputClass=true
KBCTintConjunction10=prod
SolveLingConflicts=true
Squantity=1.0
ClusteringSelection=false
KBCTintDisjunction9=sum
PathFinderParQ=3
KBCTintDisjunction8=sum
KBCTintDisjunction7=sum
InitialGeneration=0
KBCTintDisjunction6=sum
BlankThres=0.1
KBCTintDisjunction5=sum
KBCTintDisjunction4=sum
KBCTintDisjunction3=sum
KBCTintDisjunction2=sum
KBCTintDisjunction1=sum
GoodnessHighThreshold=0.5
CompletenessThres=0.1
User=Expert
Sdistance=Euclidean
KBCTintDefuzzification10=sugeno
Prune=true
MaxTreeDepth=2
graphpath=C\:Program FilesFisProFISPRO-3.5bin
NumberOfInputs=0
SelectedPerformance=false
TolThresDataSelection=0.6
Simplify=true
SWoption=2
Strategy=decrease
ClassificationFlag=true
FINGRAMSautomatic=false
InductionNbLabels=2
FingramsMetric=Relaci\u00F3n Sim\u00E9trica (B\u00E1sica)
MinSignificantLevel=0.2
Sinterpolation=standard
FingramWS=false
SelectedOutput=1
InducePartitions=true
MaximumLossOfCoverage=0.0
Fingram=true
CovThresh=0.9
Smu=0.5
NNeighbors=5
ParAlfa=0.3
Optimization=true
AmbThres=0.1
KBCTintDisjunction10=sum
FirstReduceRuleBase=true
FingramWOS=true
OutputClassSelected=all
MaximumNumberNewErrorCases=0
FeatureSelection=true
Distance=symb\u00F3lica
OptOptimization=0
Salpha=0.5
Sbalancing=true
PerfLoss=0.1
NbIterations=300
SbalancingALL=false
RuleRemoval=true
FingramsSelectedSample=-1
OrderRulesByNumberPremises=false
CrossoverProb=0.6
OrderRulesByLocalWeight=false
InductionRulesAlgorithm=Wang and Mendel
Stype=minority
MaximumNumberNewAmbiguityCases=0
OrderRulesByLocalIntWeight=false
MilestoneGeneration=0
KBCTintDefuzzification9=sugeno
KBCTintDefuzzification8=sugeno
KBCTintDefuzzification7=sugeno
Relgain=false
KBCTintDefuzzification6=sugeno
KBCTintDefuzzification5=sugeno
OrderRulesByGlobalIntWeight=false
KBCTintDefuzzification4=sugeno
KBCTintDefuzzification3=sugeno
KBCTintDefuzzification2=sugeno
KBCTintDefuzzification1=sugeno
InductionType=regular
MutationProb=0.1
MaximumLossOfPerformance=0.0
ReverseOrderRules=false
SimpRuleRanking=false
OrderRulesByGlobalWeight=false
DataFilePath=C\:\\GUAJE-vb3.0\\quickstart\\DATA
KBCTintFilePath223=.\\KBint223.kb.xml
KBCTintFilePath222=.\\KBint222.kb.xml
MinCard=3
KBCTintFilePath221=.\\KBint221.kb.xml
TESTautomatic=false
OntologyFilePath=C\:\\GUAJE-vb3.0\\KB\\DM
OnlyRBsimplification=false
Completeness=true
KBCTintConjunction9=prod
KBCTintConjunction8=prod
KBCTintConjunction7=prod
KBCTintConjunction6=prod
KBCTintConjunction5=prod
TreeFile=C\:\\GUAJE-vb3.0\\tmp\\temp1fdt.kb.xml.tree
KBCTintConjunction4=prod
KBCTintConjunction3=prod
OnlyDBsimplification=false
KBCTintConjunction2=prod
KBCTintConjunction1=prod
FingramsLayout=neato
MinDeg=0.3
GoodnessLowThreshold=0.1
NumberOfOutputLabels=0
